<div class="container">
  <h3>Sign In</h3>
  <div>
    <input
      type="text"
      class="formControl"
      placeholder="Username"
      #userName
      required
    />
  </div>
  <div>
    <input
      type="password"
      class="formControl"
      placeholder="Password"
      #userPassword
      required
    />
  </div>
  <!-- Calling SignIn Api from AuthService -->
  <div>
    <input
      type="button"
      class="btn btn-primary"
      value="Log in"
      (click)="authService.SignIn(userName.value, userPassword.value)"
    />
  </div>
  <div>
    <span class="or"><span class="orInner">Or</span></span>
  </div>
  <!-- Calling GoogleAuth Api from AuthService -->
  <div>
    <button
      class="btn btn-primary"
      type="button"
      (click)="authService.GoogleAuth()"
    >
      Log in with Google
    </button>
  </div>
  <span routerLink="/forgot-password"
    ><button class="btn btn-secondary">Forgot Password?</button></span
  >
  <div class="redirectToLogin">
    <span
      >Don't have an account?<span class="redirect" routerLink="/register-user">
        <button class="btn btn-secondary">Sign Up</button></span
      ></span
    >
  </div>
</div>
