img {
    max-width: 200px;
    max-height: 200px
}
.deluxe {
    background-color: red;
    color: white;
}
.deluxe-king {
    background-color: steelblue;
    color: white;
}
.double {
    background-color: green;
    color: white;
}