<!-- inline binding -->
<h1>Welcome to {{ hotelName }}</h1>

<div>
  <p>Available Rooms: {{ rooms.availableRooms }}</p>
</div>
<!-- {{roomList | json}} // for debugging  -->

<div *ngIf="selectedRoom">
  {{selectedRoom | json}}
</div>

<div *ngIf="rooms.availableRooms > 0">
  <hinv-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)">
  </hinv-rooms-list>
</div>

<!-- event binding -->
<button (click)="toggle()">Toggle</button>
<!-- <button onClick="fnct" /> -->

<!--   <div *ngFor="let room of roomList">
  {{ room.price }}
  {{ room.roomType }}
  <img *ngIf="room.roomType === 'Deluxe'" src={{room.photos}} alt="" />
</div> -->

<!-- <div [hidden]="hideRooms">
  Number of rooms:
  <div [innerText]="numberOfRooms"></div>
// same as document.getElementById("numberOfRooms").innerText = numberOfRooms; 
</div>
-->
