<!-- inline binding -->
<hinv-header></hinv-header>
<!-- {{rooms$ | async | json}} -->
<div>
  <div [hidden]="hideRooms">
    Number of rooms:
    <div [innerText]="numberOfRooms"></div>
    <!-- same as document.getElementById("numberOfRooms").innerText = numberOfRooms;  -->
  </div>
  <button (click)="toggle()">Toggle</button>
  <p>
    Available Rooms:
    {{ rooms.availableRooms > 0 ? rooms.availableRooms : "No rooms" }}
  </p>
</div>
<!-- {{roomList | json}} // for debugging  -->

<h1>{{getError$ | async}}</h1>
<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>
<div><button (click)="addRoom()">Add Room</button></div>


<div *ngIf="rooms$ | async as rooms" [hidden]="hideRooms">
  <hinv-rooms-list
    [rooms]="rooms"
    [title]="title"
    (selectedRoom)="selectRoom($event)"
  >
  </hinv-rooms-list>
</div>
<button (click)="editRoom()">Edit Room</button>
<button (click)="deleteRoom()">Delete Room</button>
<h1>
  {{totalBytes}} Loaded
</h1>

<!-- event binding -->
<!-- <button onClick="fnct" /> -->

<!--   <div *ngFor="let room of roomList">
  {{ room.price }}
  {{ room.roomType }}
  <img *ngIf="room.roomType === 'Deluxe'" src={{room.photos}} alt="" />
</div> -->
